@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  width: 100%;
    /*height: 34vw;*/
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
    background-position: center center;
  background-attachment: fixed;
  filter: brightness(1.2); /* Ajuste la luminosité de l'image */
  height: 100vh; /* Ajuste la hauteur selon ton besoin */
 
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}



